//
// Fonts
// --------------------------------------------------

    @font-face {
        font-family: 'lm';
        src: url('../assets/font/LM-Site/LM-Site.eot');
        src: url('../assets/font/LM-Site/LM-Site.eot?#iefix') format('embedded-opentype'),
             url('../assets/font/LM-Site/LM-Site.woff') format('woff'),
             url('../assets/font/LM-Site/LM-Site.ttf') format('truetype'),
             url('../assets/font/LM-Site/LM-Site.svg#LM-Site') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
	    font-family: 'latoregular';
	    src: url('../assets/font/Lato/lato-regularLato.eot');
	    src: url('../assets/font/Lato/lato-regularLato.eot?#iefix') format('embedded-opentype'),
	         url('../assets/font/Lato/lato-regularLato.woff') format('woff'),
	         url('../assets/font/Lato/lato-regularLato.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'latohairline';
	    src: url('../assets/font/Lato/lato-hairlineLato.eot');
	    src: url('../assets/font/Lato/lato-hairlineLato.eot?#iefix') format('embedded-opentype'),
	         url('../assets/font/Lato/lato-hairlineLato.woff') format('woff'),
	         url('../assets/font/Lato/lato-hairlineLato.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'latobold';
	    src: url('../assets/font/Lato/lato-boldLato.eot');
	    src: url('../assets/font/Lato/lato-boldLato.eot?#iefix') format('embedded-opentype'),
	         url('../assets/font/Lato/lato-boldLato.woff') format('woff'),
	         url('../assets/font/Lato/lato-boldLato.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal;
	}

    [class*="icon"] {
		font-family: 'lm';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.icon-chevron-sign-down:before {
		content: "\e600";
	}
	.icon-chevron-sign-up:before {
		content: "\e601";
	}
	.icon-chevron-sign-right:before {
		content: "\e602";
	}
	.icon-chevron-sign-left:before {
		content: "\e603";
	}
	.icon-chevron-right:before {
		content: "\e604";
	}
	.icon-chevron-left:before {
		content: "\e605";
	}
	.icon-ok:before {
		content: "\e606";
	}
	.icon-remove:before {
		content: "\e607";
	}
	.icon-heart:before {
		content: "\e608";
	}
	.icon-user:before {
		content: "\e609";
	}
	.icon-cog:before {
		content: "\e60a";
	}
	.icon-pencil:before {
		content: "\e60b";
	}
	.icon-camera:before {
		content: "\e60c";
	}
	.icon-print:before {
		content: "\e60d";
	}
	.icon-time:before {
		content: "\e60e";
	}
	.icon-remove-sign:before {
		content: "\e60f";
	}
	.icon-ok-sign:before {
		content: "\e610";
	}
	.icon-minus-sign:before {
		content: "\e611";
	}
	.icon-plus-sign:before {
		content: "\e612";
	}
	.icon-question-sign:before {
		content: "\e613";
	}
	.icon-info-sign:before {
		content: "\e614";
	}
	.icon-comment:before {
		content: "\e615";
	}
	.icon-chevron-up:before {
		content: "\e616";
	}
	.icon-chevron-down:before {
		content: "\e617";
	}
	.icon-cogs:before {
		content: "\e618";
	}
	.icon-heart-empty:before {
		content: "\e619";
	}
	.icon-twitter:before {
		content: "\e61a";
	}
	.icon-facebook:before {
		content: "\e61b";
	}
	.icon-github:before {
		content: "\e61c";
	}
	.icon-globe:before {
		content: "\e61d";
	}
	.icon-wrench:before {
		content: "\e61e";
	}
	.icon-tasks:before {
		content: "\e61f";
	}
	.icon-briefcase:before {
		content: "\e620";
	}
	.icon-link:before {
		content: "\e621";
	}
	.icon-magic:before {
		content: "\e622";
	}
	.icon-google-plus:before {
		content: "\e623";
	}
	.icon-linkedin:before {
		content: "\e624";
	}
	.icon-envelope-alt:before {
		content: "\e625";
	}
	.icon-dashboard:before {
		content: "\e626";
	}
	.icon-lightbulb:before {
		content: "\e627";
	}
	.icon-suitcase:before {
		content: "\e628";
	}
	.icon-angle-right:before {
		content: "\e629";
	}
	.icon-angle-left:before {
		content: "\e62a";
	}
	.icon-angle-up:before {
		content: "\e62b";
	}
	.icon-angle-down:before {
		content: "\e62c";
	}
	.icon-desktop:before {
		content: "\e62d";
	}
	.icon-laptop:before {
		content: "\e62e";
	}
	.icon-tablet:before {
		content: "\e62f";
	}
	.icon-mobile:before {
		content: "\e630";
	}
	.icon-spinner:before {
		content: "\e631";
	}
	.icon-github-alt:before {
		content: "\e632";
	}
	.icon-circle:before {
		content: "\e633";
	}
	.icon-quote-left:before {
		content: "\e634";
	}
	.icon-quote-right:before {
		content: "\e635";
	}
	.icon-code:before {
		content: "\e636";
	}
	.icon-terminal:before {
		content: "\e637";
	}
	.icon-meh:before {
		content: "\e638";
	}
	.icon-frown:before {
		content: "\e639";
	}
	.icon-html5:before {
		content: "\e63a";
	}
	.icon-css3:before {
		content: "\e63b";
	}
	.icon-bitbucket:before {
		content: "\e63c";
	}
	.icon-stackexchange:before {
		content: "\e63d";
	}
	.icon-eye-open:before {
		content: "\e63e";
	}
	.icon-music:before {
		content: "\e63f";
	}
	.icon-align-left:before {
		content: "\e640";
	}
	.icon-star:before {
		content: "\e641";
	}
	.icon-star-empty:before {
		content: "\e642";
	}
	.icon-search:before {
		content: "\e643";
	}
	.icon-book:before {
		content: "\e644";
	}
	.icon-facetime-video:before {
		content: "\e645";
	}
	.icon-paper-clip:before {
		content: "\e646";
	}
	.icon-thumbs-up:before {
		content: "\e647";
	}
	.icon-thumbs-down:before {
		content: "\e648";
	}
	.icon-thumbs-up2:before {
		content: "\e649";
	}
	.icon-thumbs-down2:before {
		content: "\e64a";
	}
	.icon-rss:before {
		content: "\e64b";
	}
	.icon-phone:before {
		content: "\e64c";
	}