<cfoutput>
		<!--- JS --->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!--- <script>window.jQuery || document.write('=<script src="#$.siteConfig('themeAssetPath')#/js/vendor/jquery-1.10.2.min.js"><\/script>')</script> --->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYUTgHqoLhXCfh2pXzsp7xuLpWjeqhk0Y&sensor=false"></script>
        <script src="#$.siteConfig('themeAssetPath')#/js/vendor/jquery.isotope.min.js"></script>
        <script src="#$.siteConfig('themeAssetPath')#/js/main.js"></script>

		<!--- CfStatic JS --->
		<!--- <cf_CacheOMatic key="globalfooterjs">
			#$.static().include('/js/theme/').renderIncludes('js')#
		</cf_CacheOMatic> --->

	</body>
</html>
</cfoutput>