/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'lm';
  src: url('../assets/font/LM-Site/LM-Site.eot');
  src: url('../assets/font/LM-Site/LM-Site.eot?#iefix') format('embedded-opentype'), url('../assets/font/LM-Site/LM-Site.woff') format('woff'), url('../assets/font/LM-Site/LM-Site.ttf') format('truetype'), url('../assets/font/LM-Site/LM-Site.svg#LM-Site') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latoregular';
  src: url('../assets/font/Lato/lato-regularLato.eot');
  src: url('../assets/font/Lato/lato-regularLato.eot?#iefix') format('embedded-opentype'), url('../assets/font/Lato/lato-regularLato.woff') format('woff'), url('../assets/font/Lato/lato-regularLato.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latohairline';
  src: url('../assets/font/Lato/lato-hairlineLato.eot');
  src: url('../assets/font/Lato/lato-hairlineLato.eot?#iefix') format('embedded-opentype'), url('../assets/font/Lato/lato-hairlineLato.woff') format('woff'), url('../assets/font/Lato/lato-hairlineLato.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'latobold';
  src: url('../assets/font/Lato/lato-boldLato.eot');
  src: url('../assets/font/Lato/lato-boldLato.eot?#iefix') format('embedded-opentype'), url('../assets/font/Lato/lato-boldLato.woff') format('woff'), url('../assets/font/Lato/lato-boldLato.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class*="icon"] {
  font-family: 'lm';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chevron-sign-down:before {
  content: "\e600";
}
.icon-chevron-sign-up:before {
  content: "\e601";
}
.icon-chevron-sign-right:before {
  content: "\e602";
}
.icon-chevron-sign-left:before {
  content: "\e603";
}
.icon-chevron-right:before {
  content: "\e604";
}
.icon-chevron-left:before {
  content: "\e605";
}
.icon-ok:before {
  content: "\e606";
}
.icon-remove:before {
  content: "\e607";
}
.icon-heart:before {
  content: "\e608";
}
.icon-user:before {
  content: "\e609";
}
.icon-cog:before {
  content: "\e60a";
}
.icon-pencil:before {
  content: "\e60b";
}
.icon-camera:before {
  content: "\e60c";
}
.icon-print:before {
  content: "\e60d";
}
.icon-time:before {
  content: "\e60e";
}
.icon-remove-sign:before {
  content: "\e60f";
}
.icon-ok-sign:before {
  content: "\e610";
}
.icon-minus-sign:before {
  content: "\e611";
}
.icon-plus-sign:before {
  content: "\e612";
}
.icon-question-sign:before {
  content: "\e613";
}
.icon-info-sign:before {
  content: "\e614";
}
.icon-comment:before {
  content: "\e615";
}
.icon-chevron-up:before {
  content: "\e616";
}
.icon-chevron-down:before {
  content: "\e617";
}
.icon-cogs:before {
  content: "\e618";
}
.icon-heart-empty:before {
  content: "\e619";
}
.icon-twitter:before {
  content: "\e61a";
}
.icon-facebook:before {
  content: "\e61b";
}
.icon-github:before {
  content: "\e61c";
}
.icon-globe:before {
  content: "\e61d";
}
.icon-wrench:before {
  content: "\e61e";
}
.icon-tasks:before {
  content: "\e61f";
}
.icon-briefcase:before {
  content: "\e620";
}
.icon-link:before {
  content: "\e621";
}
.icon-magic:before {
  content: "\e622";
}
.icon-google-plus:before {
  content: "\e623";
}
.icon-linkedin:before {
  content: "\e624";
}
.icon-envelope-alt:before {
  content: "\e625";
}
.icon-dashboard:before {
  content: "\e626";
}
.icon-lightbulb:before {
  content: "\e627";
}
.icon-suitcase:before {
  content: "\e628";
}
.icon-angle-right:before {
  content: "\e629";
}
.icon-angle-left:before {
  content: "\e62a";
}
.icon-angle-up:before {
  content: "\e62b";
}
.icon-angle-down:before {
  content: "\e62c";
}
.icon-desktop:before {
  content: "\e62d";
}
.icon-laptop:before {
  content: "\e62e";
}
.icon-tablet:before {
  content: "\e62f";
}
.icon-mobile:before {
  content: "\e630";
}
.icon-spinner:before {
  content: "\e631";
}
.icon-github-alt:before {
  content: "\e632";
}
.icon-circle:before {
  content: "\e633";
}
.icon-quote-left:before {
  content: "\e634";
}
.icon-quote-right:before {
  content: "\e635";
}
.icon-code:before {
  content: "\e636";
}
.icon-terminal:before {
  content: "\e637";
}
.icon-meh:before {
  content: "\e638";
}
.icon-frown:before {
  content: "\e639";
}
.icon-html5:before {
  content: "\e63a";
}
.icon-css3:before {
  content: "\e63b";
}
.icon-bitbucket:before {
  content: "\e63c";
}
.icon-stackexchange:before {
  content: "\e63d";
}
.icon-eye-open:before {
  content: "\e63e";
}
.icon-music:before {
  content: "\e63f";
}
.icon-align-left:before {
  content: "\e640";
}
.icon-star:before {
  content: "\e641";
}
.icon-star-empty:before {
  content: "\e642";
}
.icon-search:before {
  content: "\e643";
}
.icon-book:before {
  content: "\e644";
}
.icon-facetime-video:before {
  content: "\e645";
}
.icon-paper-clip:before {
  content: "\e646";
}
.icon-thumbs-up:before {
  content: "\e647";
}
.icon-thumbs-down:before {
  content: "\e648";
}
.icon-thumbs-up2:before {
  content: "\e649";
}
.icon-thumbs-down2:before {
  content: "\e64a";
}
.icon-rss:before {
  content: "\e64b";
}
.icon-phone:before {
  content: "\e64c";
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "latoregular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #878787;
  background-color: #141414;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #4ca5d0;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #ffffff;
  text-decoration: none;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e5e5e5;
}
.container {
  max-width: 820px;
  margin-right: auto;
  margin-left: auto;
}
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.container:after {
  clear: both;
}
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.container:after {
  clear: both;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.row:after {
  clear: both;
}
input:not([type="submit"]),
textarea {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #1e1e1e;
  border: 2px solid #3b3b3b;
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  padding: 7px 10px 8px;
  border-radius: 2px;
  width: 100%;
  resize: none;
  outline: none;
}
label {
  font: 12px/15px "latobold", Helvetica, Arial, sans-serif;
  color: #878787;
}
label sup {
  color: #bc3a3a;
  font-size: 18px;
  line-height: 22px;
  top: 2px;
}
button,
input[type="submit"] {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: transparent;
  border-radius: 2px;
  height: 34px;
  padding: 5px 10px;
  border: 2px solid #3b3b3b;
  color: #878787;
  display: block;
  cursor: pointer;
  text-align: center;
  outline: none;
}
button:hover,
input[type="submit"]:hover {
  background: #3b3b3b;
}
input.error,
textarea.error {
  border-color: #bc3a3a;
}
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
::selection {
  background: #e74c3c;
  color: #ecf0f1;
}
::-moz-selection {
  background: #e74c3c;
  color: #ecf0f1;
}
a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.main {
  background: #282828;
  border: 1px solid #1e1e1e;
  position: relative;
}
.main .breadcrumb {
  border-top: 1px solid #3b3b3b;
  background: #2c2c2c;
  padding: 6px 30px 8px;
  margin: 0;
}
.main .breadcrumb:before,
.main .breadcrumb:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.main .breadcrumb:after {
  clear: both;
}
.main .breadcrumb:before,
.main .breadcrumb:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.main .breadcrumb:after {
  clear: both;
}
.main .breadcrumb li {
  color: #b1b1b1;
  font-size: 11px;
  line-height: 14px;
  list-style: none;
  float: left;
}
.main .breadcrumb li .divider {
  margin: 0 3px;
}
.main .breadcrumb li a {
  color: #b1b1b1;
  text-decoration: none;
}
.main .breadcrumb li a:hover {
  color: #878787;
}
ul.colored {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.colored li {
  height: 4px;
  width: 20%;
  display: block;
  float: left;
}
ul#social-media {
  padding: 0;
  margin-top: 45px;
  list-style: none;
  font-family: 'lm', Arial;
  float: right;
}
ul#social-media li {
  float: left;
  width: 40px;
  text-align: center;
}
ul#social-media a {
  font-size: 22px;
  text-align: center;
  color: #3b3b3b;
}
ul#social-media a:hover {
  color: #bbbbbb;
}
#left-column {
  width: 570px;
  border-right: 1px solid #3b3b3b;
  padding-bottom: 20px;
}
h3.bar-header {
  background: #373737;
  color: white;
  font: 14px "latobold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  height: 30px;
  margin: 0;
  padding: 7px 0px 7px 40px;
  position: relative;
  border-radius: 4px 0 0 4px;
}
h3.bar-header i {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  padding-top: 7px;
  border-radius: 3px;
}
dd.readMore a,
.pagination a,
.btn-gen a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  border: 2px solid #3b3b3b;
  border-radius: 2px;
  padding: 7px 9px;
  margin-top: 15px;
  text-decoration: none;
  font: 12px/15px "latobold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  background: #282828;
  color: #646464;
}
dd.readMore a:hover,
.pagination a:hover,
.btn-gen a:hover {
  background: #3b3b3b;
}
.left-col-padding > *:not(#svFolder) {
  padding: 0 30px;
}
#right-column {
  width: 248px;
}
#right-column > * {
  padding: 26px 30px;
  border-top: 1px solid #3b3b3b;
}
#right-column > * ul {
  padding: 0;
}
#right-column h3 {
  font: 14px / 1.428571429 "latobold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #373737;
  margin: 0 0 20px;
  color: white;
}
#blog-search input {
  width: 145px;
}
#blog-search button {
  width: 39px;
  height: 39px;
  margin-top: 0;
}
#archives-container a {
  color: #878787;
}
#archives-container a:hover {
  color: white;
}
#archives-container i {
  font-size: 20px;
  position: relative;
  margin-right: 4px;
}
#archives-container i:before {
  color: white;
  position: absolute;
  top: 5px;
  left: 6px;
  font-size: 11px;
}
.beaches,
.fluky,
.sandalsweddingblog,
.amoro,
.sandals,
.catch {
  display: block;
  background: url(assets/img/projects.jpg) no-repeat;
}
.beaches {
  background-position: 0px 0px;
  width: 504px;
  height: 348px;
}
.fluky {
  background-position: -512px 0px;
  width: 504px;
  height: 348px;
}
.sandalsweddingblog {
  background-position: 0px -352px;
  width: 504px;
  height: 348px;
}
.amoro {
  background-position: -512px -352px;
  width: 504px;
  height: 348px;
}
.sandals {
  background-position: 0px -704px;
  width: 504px;
  height: 348px;
}
.catch {
  background-position: -512px -704px;
  width: 504px;
  height: 348px;
}
section.section {
  position: relative;
}
section.section .chevron-down {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  border: 3px solid #3b3b3b;
  color: #3b3b3b;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 40px;
  line-height: 38px;
}
section.section .chevron-down i {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: block;
}
section.section .chevron-down:hover {
  background: #3b3b3b;
  color: #282828;
}
section.section > header {
  border-top: 1px solid #3b3b3b;
}
section.section > header a {
  position: relative;
  display: block;
}
section.section > header a:hover {
  background: #232323;
}
section.section > header a span {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
section.section > header span.icon {
  position: absolute;
  top: 0;
  left: -60px;
  color: white;
  height: 60px;
  width: 60px;
  padding: 18px 0 0 18px;
  display: block;
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
}
section.section > header .divider {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.3);
  height: 60px;
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
section.section > header.active span.icon {
  width: 230px;
}
section.section > header.active span.icon + span {
  color: white;
}
section.section > header.active .divider {
  opacity: 1;
}
section.section > header.active .chevron-down i {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-top: -5px;
}
section.section > header.active .section-name {
  color: white;
}
section.section > header .header-item {
  font-size: 11px;
  line-height: 24px;
  text-decoration: none;
  margin: 17px 5px;
}
section.section > header .header-item a {
  color: #646464;
}
section.section > header .header-item a:hover {
  color: #878787;
}
section.section > header .header-item i {
  background: #3b3b3b;
  margin-right: 7px;
  text-indent: 1px;
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}
section.section > header.post-header a {
  display: inherit;
}
section.section > header.post-header a:hover {
  background: none;
}
section.section .section-name {
  font: 18px "latobold", Helvetica, Arial, sans-serif;
  color: #646464;
  max-width: 165px;
  display: block;
  height: 60px;
  overflow: hidden;
  position: relative;
  line-height: 60px;
  padding-left: 30px;
}
section.section .section-name.post-name {
  display: inline-block;
  max-width: 180px;
  width: 180px;
  padding-left: 50px;
}
section.section .user img {
  width: 100%;
  vertical-align: top;
  height: auto;
}
section.section .user h1 {
  margin: 15px 0 0;
  font: 30px/35px "latoregular", Helvetica, Arial, sans-serif;
  color: white;
}
section.section .user h1 span {
  display: block;
  font-size: 18px;
  line-height: 20px;
}
section.section .user .profile-pic {
  margin-right: 20px;
  border: 4px solid #3b3b3b;
  border-radius: 2px;
  width: 125px;
  vertical-align: top;
}
section.section .user .profile-pic.small {
  width: 85px;
}
section.section .user .profile-pic.small + h1 {
  margin-top: 0;
}
section.section ul.user-info {
  padding: 10px 10px 0 0;
  margin: 0;
  list-style: none;
}
section.section ul.user-info li {
  font-size: 12px;
}
section.section ul.user-info span {
  color: white;
  font-weight: 700;
  width: 90px;
  margin-right: 10px;
  text-align: right;
  display: inline-block;
}
section.section .section-info {
  padding: 30px;
}
section.section .section-body {
  display: none;
  padding: 25px 30px 50px;
}
section.section dt.title a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font: 24px/29px "latobold", Helvetica, Arial, sans-serif;
  margin-bottom: 25px;
  color: white;
}
section.section dt.title a:hover {
  color: #878787;
}
section.section dd.summary img {
  margin-bottom: 10px;
  width: 100%!important;
  height: auto !important;
}
section.section dd {
  margin: 0;
}
article.post {
  position: relative;
  padding: 0 30px 30px;
  border-top: 1px solid #3b3b3b;
}
article.post header {
  padding-bottom: 24px;
}
article.post header > a {
  position: relative;
  display: block;
}
article.post header > a:hover {
  background: #232323;
}
article.post header > a span {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
article.post header span.icon {
  position: absolute;
  top: 0;
  left: -60px;
  color: white;
  height: 60px;
  width: 60px;
  padding: 18px 0 0 18px;
  display: block;
  font-size: 28px;
  line-height: 28px;
  cursor: pointer;
}
article.post header .divider {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.3);
  height: 60px;
  width: 1px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
article.post header.active span.icon {
  width: 230px;
}
article.post header.active span.icon + span {
  color: white;
}
article.post header.active .divider {
  opacity: 1;
}
article.post header.active .chevron-down i {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-top: -5px;
}
article.post header.active .section-name {
  color: white;
}
article.post header span {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
article.post header .section-name {
  display: inline-block;
  max-width: 150px;
  width: 150px;
}
article.post header .header-item {
  font-size: 11px;
  line-height: 24px;
  text-decoration: none;
  margin: 17px 5px;
}
article.post header .header-item a {
  color: #646464;
}
article.post header .header-item a:hover {
  color: #878787;
}
article.post header .header-item i {
  background: #3b3b3b;
  margin-right: 7px;
  text-indent: 1px;
  width: 26px;
  height: 26px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}
#profile header {
  border: 0;
}
#profile .section-body {
  display: block;
  padding-top: 0;
}
.btn-gen a {
  border-width: 1px;
  margin-top: 3px;
}
.pagination {
  padding: 0 30px 30px;
  border-top: 1px solid #3b3b3b;
}
.pagination ul {
  padding: 0;
}
.pagination ul li {
  display: inline-block;
}
#skills {
  width: 190px;
  margin-left: 60px;
}
#skills h3 {
  margin: 0;
  font: 14px "latobold", Helvetica, Arial, sans-serif;
  color: white;
  margin-top: 50px;
}
#skills h3:first-child {
  margin-top: 0;
}
#skills h4 {
  margin: 15px 0 8px 0;
  font-size: 12px;
  line-height: 1;
}
#skills h5 {
  margin: 0;
  width: 60px;
}
#skills p {
  font-size: 12px;
  line-height: 15px;
  color: white;
  margin: 5px 5px 5px 0;
  text-align: right;
}
#skills .skill-bar {
  background: #3b3b3b;
  width: 190px;
  height: 15px;
}
#skills .skill-bar .bar {
  height: 100%;
}
#skills .circles div {
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
#skills .circles div.empty {
  background: #1e1e1e;
  border: 2px solid #3b3b3b;
}
#skills .language {
  margin-top: 10px;
}
#skills .row {
  margin: 8px 0;
  display: block;
}
#my-story {
  width: 510px;
}
#my-story h3 {
  background: #373737;
  color: white;
  font: 14px "latobold", Helvetica, Arial, sans-serif;
  height: 30px;
  margin: 0;
  padding: 7px 0px 7px 40px;
  position: relative;
  border-radius: 4px 0 0 4px;
}
#my-story h3 i {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  padding-top: 7px;
  border-radius: 3px;
}
#my-story h4 {
  font: 18px/22px "latobold", Helvetica, Arial, sans-serif;
  margin: 0;
  color: white;
}
#my-story h4 i {
  font-size: 20px;
  position: relative;
  margin-right: 4px;
}
#my-story h4 i:before {
  color: white;
  position: absolute;
  top: 5px;
  left: 6px;
  font-size: 11px;
}
#my-story h5,
#my-story h5 span {
  margin: 0;
  text-indent: 23px;
}
#my-story h6 {
  margin: 0;
  position: absolute;
  top: 25px;
  right: 0;
  font-size: 18px;
  line-height: 22px;
  color: #646464;
}
#my-story article {
  border-top: 1px dashed #3b3b3b;
  margin-top: 25px;
  padding-top: 25px;
  position: relative;
}
#my-story article.first {
  border: 0;
  padding: 0;
}
#my-story article.first h6 {
  top: 0;
}
#my-story section + section {
  margin-top: 60px;
}
#print-cv,
#blog-link {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  right: -60px;
  width: 60px;
  display: block;
  z-index: 1;
}
#print-cv span.icon,
#blog-link span.icon {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 30;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 28px;
  line-height: 28px;
  padding-top: 18px;
  text-align: center;
  display: block;
}
#print-cv span.label,
#blog-link span.label {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  right: 0;
  height: 60px;
  z-index: 1;
  opacity: 0;
  font: 19px "latobold", Helvetica, Arial, sans-serif;
  color: white;
  line-height: 59px;
  text-transform: uppercase;
}
#print-cv:hover span.label,
#blog-link:hover span.label {
  right: 60px;
  opacity: 1;
  padding: 0 15px;
}
#portfolio-nav {
  margin: 0;
  padding: 0;
}
#portfolio-nav li {
  display: inline-block;
  margin-bottom: 4px;
}
#portfolio-nav a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 2px;
  height: 34px;
  padding: 5px 10px;
  border: 2px solid #3b3b3b;
  color: #878787;
  display: block;
  cursor: pointer;
  text-align: center;
}
#portfolio-nav a i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
}
#portfolio-nav a:hover {
  background: #3b3b3b;
}
#portfolio-nav a.active {
  background: #4ca5d0;
  border-color: #4ca5d0;
  color: white;
}
#my-projects {
  margin: 25px -10px 0 -5px;
  width: 773px;
}
.project {
  -webkit-transition: transform,​ opacity ease .5s;
  transition: transform,​ opacity ease .5s;
  width: 252px;
  padding-top: 0;
  overflow: hidden;
  margin: 0 0 2px 2px;
  height: 174px;
  display: inline-block;
}
.project img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
#contact .contact-form-container {
  width: 510px;
}
#contact h3 {
  background: #373737;
  color: white;
  font: 14px "latobold", Helvetica, Arial, sans-serif;
  height: 30px;
  margin: 0;
  padding: 7px 0px 7px 40px;
  position: relative;
  border-radius: 4px 0 0 4px;
}
#contact h3 i {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  padding-top: 7px;
  border-radius: 3px;
}
#contact .control-row:first-child {
  padding-right: 10px;
}
#contact .control-row:nth-child(2) {
  padding-left: 10px;
}
form {
  margin-top: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
}
.control-row {
  display: inline-block;
  width: 240px;
  margin-bottom: 15px;
}
button,
input[type="submit"] {
  margin-top: 30px;
  height: 40px;
}
#vcard {
  background: #fff;
  border-radius: 2px;
  border: 2px solid #e5e5e5;
  padding: 23px 28px 46px;
}
#vcard h4 {
  padding: 0;
  margin: 0 0 24px;
  font-size: 14px;
}
#gmap {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  position: relative;
}
#gmap .googlemaps {
  width: 100%;
  height: 300px;
}
#gmap .info {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
  border-radius: 2px;
  position: absolute;
  width: 250px;
  top: 35px;
  right: 30px;
  background: #fff;
  padding: 26px 30px 20px;
  z-index: 100;
}
#gmap .info p {
  margin: 0;
  color: black;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 7px;
  margin-bottom: 20px;
  font: 14px/17px "latobold", Helvetica, Arial, sans-serif;
}
#gmap .info ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#gmap .info ul li {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 26px;
}
#gmap .info ul i {
  border-radius: 2px;
  background: #F5F5F5;
  width: 28px;
  height: 28px;
  text-align: center;
  padding-top: 7px;
  font-size: 16px;
  margin-right: 5px;
}
#gmap .info a {
  color: #878787;
}
#gmap .info a:hover {
  text-decoration: underline;
}
#svComments {
  padding: 0 30px;
}
#svComments fieldset {
  border: 0;
}
.comment-container {
  padding-bottom: 20px;
}
.comment-container .gravatar {
  float: left;
  width: 48px;
  margin: 0px 15px 0 0;
  border: 3px solid #3b3b3b;
  border-radius: 3px;
}
.comment-container .gravatar img {
  vertical-align: top;
  width: 100%;
  height: auto;
}
.comment-container .text-container {
  position: relative;
  float: left;
  width: 445px;
}
.comment-container .reply {
  position: absolute;
  top: 0;
  right: 0;
  border-width: 2px;
}
.comment-container h5 {
  font: 14px/17px "latobold", Helvetica, Arial, sans-serif;
  color: white;
  margin: 0 0 5px;
}
.comment-container .time {
  font-size: 11px;
  line-height: 14px;
  color: #646464;
  margin: 0;
}
.comment-container .time i {
  font-size: 14px;
  margin: 1px 3px 0 0;
}
.comment-container .text {
  color: #646464;
  font-size: 12px;
  line-height: 18px;
}
.comment-container .text p:first-child {
  margin-top: 5px;
}
.post-content {
  padding: 30px 30px 50px;
}
.post-content h2 {
  margin-top: 0;
  font: 24px/29px "latobold", Helvetica, Arial, sans-serif;
  color: white;
}
.post-content .tags {
  padding-top: 20px;
}
.post-content .tags ul {
  padding-left: 5px;
  margin: 0;
}
.post-content .tags h5 {
  font: 12px/15px "latobold", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: white;
  margin: 0 7px 0 0;
  padding-top: 8px;
}
#svSearchResults {
  border-top: 1px solid #3b3b3b;
  padding-top: 15px;
}
#svSearchResults h2 {
  margin-top: 0;
}
#search-again {
  border-top: 1px solid #3b3b3b;
}
.actual-post img {
  width: 100% !important;
  height: auto !important;
  margin: 15px 0;
}
footer {
  padding: 20px 0 30px;
  text-align: right;
}
.blue {
  color: #4ca5d0;
}
.blue-light {
  color: #327ea3;
}
.green {
  color: #6ca338;
}
.red {
  color: #e82c0c;
}
.red-dark {
  color: #bc3a3a;
}
.yellow {
  color: #ffbc35;
}
.orange {
  color: #e67e22;
}
.bg-blue {
  background: #4ca5d0;
}
.bg-blue-light {
  background: #327ea3;
}
.bg-green {
  background: #6ca338;
}
.bg-red {
  background: #e82c0c;
}
.bg-red-dark {
  background: #bc3a3a;
}
.bg-yellow {
  background: #ffbc35;
}
.bg-orange {
  background: #e67e22;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: sanbeiji.com/archives/953 */
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media only screen and (max-width: 940px) {
  body {
    line-height: 18px;
  }
  p {
    margin: 5px 0;
  }
  .container {
    max-width: 630px;
  }
  .section #my-story {
    width: 350px;
  }
  .section #my-story h4 {
    font: 16px/18px "latobold", Helvetica, Arial, sans-serif;
  }
  .section #my-story h6 {
    font-size: 16px;
    line-height: 18px;
  }
  .section #my-story section + section {
    margin-top: 40px;
  }
  .section #my-story article {
    padding-top: 20px;
    margin-top: 20px;
  }
  .section #skills h4 {
    font-size: 11px;
  }
  .section #my-projects {
    margin: 25px auto 0;
    width: 510px;
  }
  .section #vcard {
    padding: 23px 15px 46px;
  }
  .section #gmap .info {
    right: 5px;
  }
  #contact .section-body .control-row {
    float: none;
    width: 100%;
    padding: 0!important;
  }
  #contact .section-body .contact-form-container {
    width: 350px;
  }
  #contact .section-body #vcard {
    padding: 23px 15px 20px;
  }
  #contact .section-body #vcard h4 {
    margin-bottom: 10px;
  }
  dd.readMore a,
  .pagination a,
  .btn-gen a {
    padding: 10px;
  }
  .btn-gen a {
    border-width: 2px;
  }
  #left-column {
    width: 100%;
    border-right: 0;
    float: none;
  }
  #right-column {
    width: 100%;
    float: none;
  }
  #right-column > * {
    text-align: center;
  }
  #blog-search {
    text-align: center;
  }
  #blog-search form {
    margin-top: 0;
  }
  #blog-search input {
    width: 80%;
    padding: 13px 10px;
  }
  #blog-search button {
    width: 70px;
    height: 50px;
  }
  form#postcomment .control-row {
    float: none;
    width: 100%;
  }
  form#postcomment button,
  form#postcomment input[type="submit"] {
    width: 100%;
    height: 50px;
  }
  .post-content .tags h5 {
    padding-top: 13px;
  }
}
@media only screen and (max-width: 750px) {
  a#print-cv {
    top: 0;
    right: 0;
  }
  a#blog-link {
    top: -60px;
    right: 0;
  }
  .container {
    max-width: 400px;
  }
  .container ul#social-media {
    float: left;
  }
  section.section .section-info .user h1 {
    display: none;
  }
  section.section .section-info .user .profile-pic {
    width: 120px;
    margin-right: 0;
  }
  section.section .section-info ul.user-info {
    padding: 15px 0 0;
  }
  section.section .section-info ul.user-info li span {
    width: 60px;
  }
  .section #skills {
    float: none;
    width: 100%;
    margin: 0 auto 40px;
  }
  .section #skills .skill-bar {
    width: 100%;
  }
  .section #skills h3 {
    margin-top: 40px;
    text-align: center;
  }
  .section #skills h5 {
    width: 80px;
    font-size: 14px;
  }
  .section #skills h4 {
    text-align: center;
    font-size: 14px;
  }
  .section #skills .language {
    margin-top: 20px;
    text-align: center;
  }
  .section #skills .circles div {
    margin: 0 5px;
  }
  .section #skills .row {
    margin: 12px 0;
  }
  .section #my-story {
    width: 100%;
  }
  .section #my-story header {
    text-align: center;
  }
  .section #my-story h6 {
    position: relative;
    top: 0;
  }
  .section #my-story h5,
  .section #my-story h5 span {
    text-indent: 0;
  }
  #portfolio #my-projects {
    margin: 25px auto 0;
    width: 252px;
  }
  #portfolio .project {
    margin: 0 0 2px 0;
  }
  #vcard {
    float: none;
    text-align: center;
    margin-bottom: 40px;
  }
  #vcard img {
    display: block;
    margin: auto;
  }
  #gmap .info {
    display: none;
  }
  #contact .section-body .contact-form-container {
    width: 100%;
  }
  #contact .section-body .contact-form-container button {
    width: 100%;
  }
  #blog section.section .section-info .user {
    float: none;
  }
  #blog section.section .section-info .user .profile-pic {
    width: 100%;
  }
  article.post header.active span.icon,
  #left-column.post header.active span.icon {
    width: 100%;
    left: 0;
    cursor: default;
  }
  article.post header.active .divider,
  #left-column.post header.active .divider {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  article.post header .section-name,
  #left-column.post header .section-name {
    display: block;
  }
  #blog-search input {
    width: 70%;
  }
  dd.readMore a {
    width: 100%;
    text-align: center;
    font-size: 15px;
  }
  #right-column {
    padding: 15px 0 25px;
  }
  #archives-container a {
    display: block;
    text-align: left;
  }
  .comment-container h5,
  .comment-container .time {
    text-align: center;
  }
  .comment-container .gravatar {
    width: 100px;
    float: none;
    margin: 0 auto;
  }
  .comment-container .reply {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .comment-container .text-container {
    width: 100%;
    margin: 10px 0 0;
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 15px;
  }
  .comment-container .text {
    font-size: 14px;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 520px) {
  .container {
    max-width: 310px;
  }
  section.section .section-info .user {
    float: none;
  }
  section.section .section-info .user .profile-pic {
    width: 100%;
  }
  section.section .section-info ul.user-info {
    padding-top: 20px;
    float: none;
    text-align: left;
  }
  section.section .section-info ul.user-info li span {
    width: auto;
  }
  .post-content {
    padding: 30px 15px 50px;
  }
  #svComments {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 430px) {
  header .divider {
    display: none;
  }
  header span.icon {
    color: transparent!important;
    left: 0!important;
    opacity: 0;
  }
  header.active span.icon {
    opacity: 1;
    width: 170px!important;
  }
  section.section .section-body {
    padding: 25px 20px 50px;
  }
  #blog header.active span.icon {
    opacity: 1;
    width: 100%!important;
  }
  #blog header span.icon {
    color: white!important;
    left: 0!important;
    opacity: 0;
  }
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.block {
  display: block;
}
.img-rounded {
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
  border-radius: 500px;
}
