<div class="block-social">
	<div class="soc_label">Share this Story:</div>
	<ul id="post_social_share" class="post_social_share">
		<li><a href="http://www.facebook.com/share.php?u=http://shiftcv.wpspace.net/quisque-odio-eros/" class="link-facebook" target="_black"><img src="http://shiftcv.wpspace.net/wp-content/themes/cv/images/icon-facebook.png" class="icon_facebook" alt="facebook"></a></li>
		<li><a href="https://twitter.com/share?text=Quisque odio eros&amp;counturl=http://shiftcv.wpspace.net/quisque-odio-eros/&amp;url=http://shiftcv.wpspace.net/quisque-odio-eros/" class="link-twitter" target="_black"><img src="http://shiftcv.wpspace.net/wp-content/themes/cv/images/icon-twitter.png" class="icon_twitter" alt="twitter"></a></li>
		<li><a href="https://plusone.google.com/_/+1/confirm?url=http://shiftcv.wpspace.net/quisque-odio-eros/" class="link-gplus" target="_black"><img src="http://shiftcv.wpspace.net/wp-content/themes/cv/images/icon-gplus.png" class="icon_gplus" alt="gplus"></a></li>
	</ul>
</div>